
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";


@theme { 

    /*-----Colors-----*/
    --color-primary: rgb(19 20 31);
    --color-lightGray: #ecf0f1;
    --color-secondary: rgb(142 87 232);
    
    /*-----Fonts-----*/
    --font-bebas: "Bebas NEUE" ;
    --font-poppins: "Poppins" ;

    /*-----Font Size-----*/
    --text-big: 12rem; 
    --text-11xl: 11rem; 
    --text-10xl: 18rem;

    --animate-wiggle: wiggle 1s ease-in-out infinite;  

    @keyframes wiggle {    
        0%,    
        100% {      transform: rotate(-3deg);    }    
        50% {      transform: rotate(3deg);    }  
    }

   --animate-star-movement-bottom: star-movement-bottom linear infinite alternate;

   @keyframes star-movement-bottom {    
    0%: { transform: translate(0%, 0%); opacity: 1 ;}   
    100% { transform: translate(-100%, 0%); opacity: 0;}
}
    --animate-star-movement-top: star-movement-top linear infinite alternate;

   @keyframes star-movement-top {    
    0%: {  transform: translate(0%, 0%); opacity: 1; }
    100% {  transform: translate(100%, 0%); opacity: 0; }
}
    
}

.text-stroke{
    -webkit-text-stroke: 1px rgb(142 87 232);
}